.novastyle {
    font-size: 16px;
}


.novastyle .inside {
    padding: 1rem 2rem;
}
.novastyle h1 {
    display: flex;
    align-items: center;
}

.novastyle .icon {
    position:relative;
    margin-right: 20px;
    width: 40px;
    height: 40px;
    display: inline-block;		
}

.novastyle .icon svg {
    width: 100%;
    height: auto;
    
}

/*.novastyle .icon:before {
    position: absolute;
    padding: 1px 0;
    width: 50px;
    height: 50px;
    display: block;
    top: 0;
    content: '';
    
    background-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-icon="bozzanova" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 283.46 283.46"><rect fill="currentColor" y="261.66" width="239.17" height="21.8"/><rect fill="currentColor" y="218.05" width="283.46" height="21.8"/><rect fill="currentColor" y="174.44" width="283.46" height="21.8"/><rect fill="currentColor" y="130.83" width="256.89" height="21.8"/><rect fill="currentColor" y="87.22" width="283.46" height="21.8"/><rect fill="currentColor" y="43.61" width="283.46" height="21.8"/><rect fill="currentColor" width="239.17" height="21.8"/></svg>');
    background-repeat: no-repeat;
    background-size: contain;
}*/

.novastyle h1 {
    font-size: 2.5rem;
    margin: 1rem 0;
}
.novastyle h2,
.postbox .inside h2 {
    font-size: 1.8rem;
    margin-top: 1rem;
    margin-bottom: .75rem;
    padding: 0;
}
.novastyle h3,
.novastyle h4 {
    font-weight: 400;
}

.novastyle h3 {
    font-size: 1.3rem;
    margin-top: 1.5rem;
    margin-bottom: .25rem;
}
.novastyle h4 {
    font-size: 1.1rem;
    margin-top: 1.25rem;
    margin-bottom: .125rem;
}

.novastyle p {
    margin-top: 0;
    font-size: 1rem;
}

.novastyle .row { 
    
    margin-left: -15px;
    margin-right: -15px;
    
    padding-top: 10px;
    
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
}

.novastyle .col {
    padding-left: 15px;
    padding-right: 15px;
    
    width: 50%;
}

.novastyle .left {
    order: 2;
}
.novastyle .right {
    order: 1;
}

@media (max-width: 1024px) {
    .novastyle .row { 
        flex-direction: column;
        flex-flow: wrap;
    }
    .novastyle .col {
        width: 100%;            
    }
    
    .novastyle .left {
        order: 1;
    }
    .novastyle .right {
        order: 2;
    }
}